@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

html,
body {
    width: auto;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: #1D2F30;
    width: auto;
}

.container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.header-container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.header-nav {
    display: flex;
    gap: 64px;
    color: #fff
}

.actions {
    display: flex;
    gap: 67px;
}

.header-desc {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 490px;
}

.header-desc::before {
    content: '';
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1D2F30;
    opacity: 0.7;
}

.header-text {
    position: absolute;
    width: auto;
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

.header-title {
    font-family: "Cormorant", serif;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    width: 688px;
}

.header-p {
    color: #fff;
    width: 635px;
}

.explore {
    color: #BAE249;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.main {
    padding: 60px 0;
    width: 100%;
    background-color: #1D2F30;
}

.main-items {
    display: flex;
    justify-content: space-between;
}

.main-item {
    flex-grow: initial;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #0B1919;
}

.item-image {
    padding: 30px 16px;
    height: 180px;
    width: 255px;
    background-color: #0B1919;
    margin-bottom: 16px;
}

.number {
    font-family: "Cormorant", serif;
    color: #899D9D;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #899D9D;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
}

.item-title {
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0 16px 0 16px;

}

.item-desc {
    color: #899D9D;
    font-size: 16px;
    line-height: 150%;
    margin: 0 16px 16px 16px;
}

.item-button {
    margin-left: 16px;
    margin-bottom: 16px;
    height: 45px;
    width: 145px;
    color: #BAE249;
    border: 1px solid;
}

.pagination {
    margin-top: 26px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

p {
    font-family: "Cormorant", serif;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 0 5px;
}

h1 {
    font-family: "Cormorant", serif;
    color: #fff;
    font-style: italic;
    font-size: 48px;
    font-weight: 700;
}

.artifacts {
    display: flex;
    margin-top: 30px;
}

.main-img {
    width: 825px;
    height: 493px;
}

aside {
    background-color: #BAE249;
    width: 255px;
    height: 493px;
    padding: 20px 16px;
    margin-left: 30px;
}

h2 {
    color: #1D2F30;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cormorant", serif;
}

.aside-text {
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    font-size: 16px;
    color: #506829;
    margin-top: 30px;
}

.more {
    font-weight: 700;
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.footer {
    background: url(../images/background-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 60px 0;
}

.header-p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 150%;
}

.form-group {
    width: 350px;
    height: 45px;
    margin: 24px 0;
    padding: 11px;
    background-color: #ffff;
    font-size: 16px;
    line-height: 150%;
}

.submit-btn {
    background-color: #BAE249;
    padding: 11px 26px;
    font-weight: 700;
}